@import "../_vars.pcss";
@import "../_base.pcss";

/* Sprite */
@import "../sprite.css";
@import "../svg-symbols.css";

/* Styles */
.login{
  &_bg{
    height: 100vh;
    width: 100vw;
    background-image: resolve("sam-x-42021.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  }
}
