@import "../_vars.pcss";
@import "../_base.pcss";

/* Sprite */
@import "../sprite.css";
@import "../svg-symbols.css";

/* Styles */

.wrap {
  height: 100vh;
  background-image: resolve(index-bg.png);
  background-size: cover;
  background-position: center 100%;
  background-repeat: no-repeat;

  h1 {
    margin: 0;
  }
}
