footer.footer
  .footer__service Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
  .footer__top
    button.footer__btn
      svg(class="icon")
        use(xlink:href='#top')
  .footer__about Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool | 2016