.news
  h2.news__new Новое в мире
  .items
    - for (var x = 1; x <= 12; x++)
      .item
        .item__wrapb
          .item__wrap
            img(src="../img/img1.png", title="").item__img
        .item__about
          img(src="../img/photo1.png", title="").item__photo
          .item__description
            h3.item__heading Путешествие на лодке по озеру
            .item__stats
              svg.icon.icon-comments
                use(xlink:href='#comments')
              span.item__comments 9
              svg.icon.icon-heart
                use(xlink:href='#heart')
              span.item__heart 15
        .item__footer
          svg.icon.icon-album
            use(xlink:href='#album')
          span Прогулки по воде

  .more
    button.more__btn Показать еще
.albums
  .albums__heading
    h2.albums__title Мои альбомы
    .albums__svg
      a.addAlbum(href="#")
        svg(class="icon add")
          use(xlink:href='#add')
        span Добавить
  .cover
    - for (var x = 1; x <= 8; x++)
      .envelope
        img(src="../img/img1.png", title="").envelope__img
        .envelope__description
          a(href='', title='').envelope__link
            svg(class="icon edit")
              use(xlink:href='#edit')
          span.envelope__text Поход в горы
