extends ../template
include ../_mixin

block title
  title title

block description
  meta(name='', content='')

block color
  +color('#ccc')

block loadFont
  link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")

block loadCSS
  link(rel="stylesheet", href="css/home.css")
  link(rel="stylesheet", href="css/libs.css")

block content
  include ../components/header
  include ../components/main
  include ../components/footer

block loadJS
    script(src="js/commons.js")
    script(src="js/home.js")

