.buttons
  a.buttons__edit(href="#")
    svg(class="icon edit")
      use(xlink:href='#edit')
    span Редактировать
  br
  a.buttons__exit(href="#")
    svg(class="icon off")
      use(xlink:href='#off')
    span Выйти
  br