.leftMain
  img(src="../img/photo.png", alt="Your photo").leftMain__photo.leftMain__photo-circle
  .about
    h2.about__name Антон Черепов
    p.about__description Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и активный отдых.
    .about__social
      - var icons = ['soc_vk', 'soc_fb', 'soc_twitter', 'social_google', 'soc_email'];
      each icon in icons
        a(href='#', title='#{icon}')
          svg(class="icon " + icon)
            use(xlink:href='#' + icon)