/* header */
.header {
  background: resolve(header-bg.png) no-repeat;
  background-size: cover;
}

/* top */
@import "blocks/top.pcss";
@import "blocks/scan.pcss";
@import "blocks/save.pcss";
@import "blocks/panel.pcss";

.icon {
  font-size: 50px;
  size: 30px;
}
